<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">

<!-- Sign-Up -->
        <form role="form" name="sign-up-form" id="signup_form">
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Name</label> -->
              <input type="text" class="form-control" id="fullname" placeholder="Your name" name="fullname" required="true">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Email address</label> -->
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required="true">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputPassword1">Town</label> -->
              <input type="text" class="form-control" id="town" placeholder="town" name="town">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Zipcode</label> -->
              <input type="text" class="form-control" id="zipcode" placeholder="zipcode" name="zipcode" required="true">
            </div>
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Comment</label> -->
              <textarea class="form-control" id="comment" placeholder="comments..." rows="5" name="comment"></textarea>
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>



      {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>

<script type="text/javascript">
  $(document).ready(function($) {
    $("#signup_form").on("submit", function(event) {
      event.preventDefault();
      $.ajax({
          type: "post",
          url: "http://localhost/mailer.php",
          dataType: 'json',
          data: $("#signup_form").serialize()
      }).complete(function() {
        window.location.assign("{{ site.url }}/pages/thankyou/")
      });
    });
  });
</script>
